.cardList {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    grid-gap: 20px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing:grayscale;
    backface-visibility: hidden;
    transform: translate(0);
    transition: transform 0.25s ease-out;
}

.cardContainer:hover {
    transform: scale(1.05);
}